@media screen and (max-width: 1199px) {
    .font-18 {
        font-size: 17px;
    }

    .questions-bg-wrap{
        display: none;
    }

    .questions {
        margin-top: 40px;
    }

    .font-13 {
        font-size: 12px;
    }

    br {
        display: none;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .logo {
        margin: 0 0 15px 0;
    }

    .logo img {
        width: 100%;
    }

    .header .logo img {
        width: 135%;
        margin-top: 23px;
    }

    .header-ul {
        width: 75%;
        padding-left: 0;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .header-ul li {
        margin-bottom: 10px;
        float: left;
        width: 50%;
    }

    .header-ul li:last-child {
        width: 100%;
    }

    .m-menu {
        padding-left: 25px;
    }

    .btn-1 {
        float: none;
        margin: 10px auto 0;
    }

    .phone2 {
        left: 0;
    }

    .header-contacts {
        text-align: right;
    }

    .call-me-box {
        margin-top: 14px;
        padding-right: 16px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section1-calculator {
        width: 100%;
    }

    .section1-select1,
    .section1-select2,
    .section1-select3 {
        margin: 0 0 20px;
    }

    .section1-select1,
    .section1-select2 {
        width: 49%;
        float: left;
        text-align: center;
    }

    .section1-select2 {
        float: right;
    }

    .section1-select3 {
        text-align: center;
        display: block !important;
    }

    .section1 {
        height: auto;
        padding-bottom: 40px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section2-item1, .section2-item2, .section2-item3 {
        width: 32%;
    }

    .section2-bg {
        display: none;
    }

    .section2-item1 {
        padding-right: 0;
    }

    .section2-item3 {
        padding-left: 0;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section3-content {
        padding-left: 0;
        text-align: center;
    }

    .section3-num {
        float: none;
        margin-bottom: 25px;
    }

    .section3 {
        padding: 45px 0 45px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section4-content {
        width: 320px;
        margin: 0 auto;
    }

    .section4-bg {
        width: 100%;
        margin: 0 auto;
        padding: 32px 0 0;
        height: 298px;
    }

    .section4 {
        height: 298px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .video-player, .section5 {
        height: 500px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-item1, .section6-item2, .section6-item3 {
        text-align: center;
    }

    /*.section6-bg {*/
    /*width: auto;*/
    /*background: none;*/
    /*border: 5px dotted rgb(254, 245, 230);*/
    /*padding: 0 13px;*/
    /*}*/
    .section6-bg .submit1 {
        margin-top: 26px;
    }

    .section6-content1 {
        margin-top: 21px;
    }

    .have-questions {
        text-align: center;
    }

    .accordion h2 {
        font-size: 18px;
        height: 30px;
        line-height: 20px;
    }

    .accordion h2:after {
        top: 6px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .m-copyright {
        padding: 0;
        text-align: center;
    }

    .footer-ul li {
        float: left;
        font-size: 15px;
        text-align: center;
        width: 44%;
        margin-bottom: 15px;
    }

    .footer-ul li:nth-child(2),
    .footer-ul li:nth-child(6) {
        width: 12%;
    }

    .footer-ul li:nth-child(4), .footer-ul li:nth-child(8) {
        display: none;
    }

    .footer-ul li:nth-child(9) {
        width: 100%;
    }

    .footer-ul {
        margin-top: -6px;
        margin-left: 0;
    }

    .footer {
        height: auto;
        padding-bottom: 12px;
    }

    .link1 {
        float: none;
    }

    .contact-links {
        padding-left: 7px;
        padding-top: 13px;
    }

    .contact-links > li {
        padding: 0 3px;
    }

}

@media screen and (max-width: 991px) {
    .pop-up-wrap {
        display: none;
    }

    .active-pop-up {
        display: block;
    }

    .section6-bg-content {
        width: 720px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .pop-up-inside {
        width: 100%;
    }

    .pop-up-inside {
        left: 0;
        right: 0;
        margin: -211px 0 0 0;
    }

    .font-30 {
        font-size: 24px;
    }

    .close-pop-up {
        top: 6px;
    }

    .pop-up-input-box input {
        width: 140px;
    }

    .pop-up-input-box {
        width: 245px;
    }

    .section6-bg {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .video-player, .section5 {
        height: 300px;
    }

    .font-25 {
        font-size: 22px;
    }

    .m-header-menu-off {
        display: none;
    }

    .m-header-menu-on {
        display: block;
    }

    #sidr-menu {
        display: block;
    }

    .footer {
        display: none;
    }

    .menu-btn {
        width: 60px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        position: absolute;
        height: 4px;
        width: 60%;
        background: #f15234;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .menu-btn span:nth-child(1) {
        top: 8px;
    }

    .menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
        top: 20px;
    }

    .menu-btn span:nth-child(4) {
        top: 32px;
    }

    .menu-btn.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .menu-btn.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-btn.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu-btn.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .m-section1-box {
        display: block !important;
        margin: 0 auto;
        width: 100%;
    }

    .section1-header {
        width: 100%;
        margin: 25px auto 0;
    }

    .section1-select1, .section1-select2, .section1-select3 {
        margin: 0 0 55px;
    }

    .section1-select3 {
        margin: 0;
    }

    .calc-price {
        padding: 68px 0 0 0;
    }

    .submit1 {
        font-size: 15px;
    }

    .pad-right-64 {
        padding-right: 30px;
    }

    .m-section1-box {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .m-section1-box h2 {
        margin: 0;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section4-bg {
        background: none;
    }

    .section4-content {
        width: 300px;
        margin: 0 auto;
        padding: 25px 20px 20px;
        border: 2px solid #f15234;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .start-video {
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
    }

    .start-video-play {
        width: 100%;
        height: 100%;
        -webkit-background-size: 30%;
        background-size: 45%;
        top: 0px;
        left: 1px;
    }

    .start-video-text {
        position: absolute;
        font-weight: bold;
        top: 9px;
        left: -244px;
        margin: 0 auto;
        color: white;
        width: 500px;
        font-size: 20px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-pic1 {
        float: none;
        margin: 0 auto;
    }

    .section6-pic2 {
        float: none;
        margin: 44px auto;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-bg {
        padding: 40px 87px;
        height: auto;
        text-align: center;
        width: 98%;
        margin: 60px auto;
    }

    .section6-bg-content {
        width: 100%;
    }

    .section6-content1 {
        margin: 0;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .accordion li p {
        padding: 4px 10px;
    }

    .accordion {
        text-align: left;
    }

    .section6 {
        margin-bottom: 50px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .header {

        padding: 5px;
        position: fixed;
        top: 0;
        z-index: 10000;
        background: white;
        width: 100%;
    }

    .morph-shape {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .morph-shape svg path, .morph-shape svg line {
        stroke: white;
        stroke-width: 9px;
    }

    .sidr {
        padding: 0 20px;
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 999999;
        width: 260px;
        overflow-x: none;
        overflow-y: auto;
        background: #4e443c;
    }

    .header .logo img {
        width: 100%;
        margin-top: 10px;
    }

    .sidr-nav li {
        text-align: left;
        margin-bottom: 25px;
    }

    .phone1, .phone2 {
        text-align: center;
    }

    .phone1 {
        margin: 50px 0 10px;
    }

    .call-me-box {
        margin: 30px 0 12px -20px;
        padding-right: 0;
        text-align: center;
    }

    .contact-links {
        padding-left: 7px;
        padding-top: 0;
    }

    .contact-links > li {
        padding: 0 5px;
    }

    .sidr-footer {
        margin-top: 90px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    .contact-links > li a:before {
        content: "";
        display: none;
    }
    .contact-links > li a:hover span {
        -webkit-animation: 0s;
        animation: 0s;
    }
}

@media screen and (max-width: 600px) {
    body {
        min-width: 300px;
    }

    .font-50 {
        font-size: 35px;
    }

    .font-25 {
        font-size: 20px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section1-select1, .section1-select2 {
        width: 100%;
        float: none;
        text-align: left;
    }

    .section1-select1, .section1-select2, .section1-select3 {
        margin: 0 0 35px;
    }

    .section1-select3 {
        text-align: left;
    }

    .m-section1-input {
        float: right;
    }

    .m-section1-blocl {
        display: block;
        float: none;
        width: 100%;
    }

    .pad-right-64 {
        padding-right: 0;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section2-item1, .section2-item2, .section2-item3 {
        width: 100%;
        margin-bottom: 10px;
    }

    .index-title {
        font-size: 26px;
    }

    .section3-mic:after {
        top: -45px;
        left: -57px;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .video-player #player {
        height: 100%;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-item1, .section6-item2, .section6-item3 {
        width: 100%;
        display: block;
        float: none;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-box1, .section6-box2 {
        width: 100%;
        float: left;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section6-bg {
        padding: 20px 40px 20px;
        margin: 60px auto;
    }

    .section6-bg .submit1 {
        width: 100%;
    }

    .btn-3 {
        margin: 25px 35px 0 0;
    }

    .accordion h2 {
        font-size: 15px;
        text-align: left;
    }

    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .pop-up-content {
        padding: 20px;
    }

    .close-pop-up {
        top: 64px;
        right: 5px;
        color: #f15234;
    }

    .pop-up-inside {
        width: 300px;
        margin: -270px auto 0;
    }

    .pop-up-content-item1,
    .pop-up-content-item2 {
        margin-bottom: 0;
    }

    .pop-up-content-item1 {
        width: 50%;
        border-left: none;
    }

    .pop-up-content-item2 {
        width: 50.6%;
        margin-left: -6px;
        border-right: none;
    }

    .pop-up-content-item1 h2,
    .pop-up-content-item2 h2,
    .pop-up-content-item3 h2 {
        font-size: 16px;
    }

    .pop-up-content-item3 {
        width: 100%;
        margin-left: 0;
    }

    .pop-up-content-item1, .pop-up-content-item2, .pop-up-content-item3 {
        height: 175px;
    }

    .pop-up-content-item3 {
        height: 120px;
    }

    .pop-up-img3 {
        width: 116px;
        height: 67px;
        background: url(../img/sprite.svg) -1097px -1293px no-repeat;
        display: block;
        margin: 0 auto 0;
    }

    .m-noPad {
        padding: 0;
    }

    .m-noMarg {
        margin: 0;
    }

    #pop-up-3 .pop-up-inside {
        width: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -208px 0 0 -150px;
    }

    .pop-up-input-box2 input {
        width: 130px;
    }

    .slide-checkbox {
        margin-left: 25px;
    }

    #pop-up-3 .submit1 {
        width: 100%;
        margin: 20px auto 0;
    }

    .m-slide-box {
        margin-top: 20px;
    }

    #pop-up-1 .close-pop-up,
    #pop-up-3 .close-pop-up{
        top: 38px;
        right: -24px;
    }
    #pop-up-2 .close-pop-up, .send-mail .close-pop-up {
        top: 95px !important;
        right: 4px !important;
    }

    .price-box2, .price-box2 {
        margin-bottom: 0;
    }
    .price-fixed-title {
        margin-top: 40px;
        min-height: 60px;
    }
    .m-our-team {
        padding-top: 15px;
        text-align: left !important;
    }
}

@media screen and (max-width: 455px) {
    .btn-3 {
        margin: 25px auto 0;
        display: block !important;
    }

    .section3-pic1, .section3-pic2, .section3-pic3, .section3-pic4 {
        position: relative;
        margin-left: 5px;
    }
}

@media screen and (max-width: 390px) {
    .section3-pic1, .section3-pic2, .section3-pic3, .section3-pic4 {
        position: relative;
        margin-left: 0;
        display: block !important;
    }

    .section3-pic1:after, .section3-pic2:after, .section3-pic3:after, .section3-pic4:after {
        content: '';
        position: relative;
        top: -14px;
        margin: 0 auto;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++FIX++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media all and (-ms-high-contrast: none) {
    *::-ms-backdrop, .slide-checkbox {
        margin-left: 19px;
    }

    @media screen and (max-width: 600px) {
        *::-ms-backdrop, .slide-checkbox {
            margin-left: 17px !important;
        }
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++FIX++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*====================================================================================================================*/
/*===================================================LOAN MEDIA=======================================================*/
/*====================================================================================================================*/
@media screen and (max-width: 1199px) {
    .loan-dots {
        display: none;
    }

    .loan .section2-item1, .loan .section2-item2, .loan .section2-item3, .loan .section2-item4 {
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .loan .section2-item1, .loan .section2-item2, .loan .section2-item3, .loan .section2-item4 {
        margin-bottom: 40px;
    }

    .loan .section2-item1, .loan .section2-item2, .loan .section2-item3 {
        width: 32.9%;
    }

    .loan .section2-item4 {
        width: 100%;
    }

    .section2 {
        padding: 59px 0 50px;
    }

    .loan-input3 {
        text-align: center;
        margin-top: 0;
    }

    .loan-input1, .loan-input2 {
        float: none !important;
        text-align: center;
        margin-bottom: 25px;
    }

    .loan-input1 label {
        margin-right: 26px;
    }

    .loan-input2 label {
        margin-right: 2px;
    }
}

@media screen and (max-width: 659px) {
    .loan .section2-item1, .loan .section2-item2, .loan .section2-item3, .loan .section2-item4 {
        width: 49.6%;
    }
}

@media screen and (max-width: 543px) {
    .loan .section2-item1, .loan .section2-item2, .loan .section2-item3, .loan .section2-item4 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .loan-input1 input,
    .loan-input2 input,
    .loan-input3 input,
    #filename {
        width: 100%;
    }

    .m-loan-submit {
        width: 100%;
    }
}

/*====================================================================================================================*/
/*====================================================QUESTIONS=======================================================*/
/*====================================================================================================================*/
@media screen and (max-width: 991px) {
    .m-questions-block, .corner-box-wrap {
        padding: 0;
        display: block;
        float: left;
        width: 48%;
    }

    .corner-box-wrap {
        float: right;
    }
}

@media screen and (max-width: 767px) {
    .questions-bg-wrap {
        height: 340px;
    }

    .questions-bg-wrap {
        display: none;
    }

    .m-questions-block, .corner-box-wrap {
        padding: 0;
        display: block;
        float: none;
        width: 100%;
    }

    .corner-box-wrap {
        margin-top: 10px;
    }

    .corner-box {
        padding: 10px 20px 10px 22px;
    }

    .questions {
        margin: 40px 0 30px;
    }

    .questions .col-xs-12 {
        padding: 0 20px;
    }



    .questions #accordion2 {
        margin-top: 20px;
    }
    .questions-title {
        margin-top: 40px;
    }
}

/*====================================================================================================================*/
/*=======================================================PRICE========================================================*/
/*====================================================================================================================*/
@media screen and (max-width: 991px) {
    .price-box li:first-child, .price-box2 li:first-child, .price-box3 li:first-child,
    .price-box li:last-child, .price-box2 li:last-child, .price-box3 li:last-child {
        margin: 0 0.9% !important;
    }

    .price-box-item {
        width: 23.2%;
        margin-bottom: 40px;
    }

    .price-box li:nth-child(5), .price-box li:nth-child(7) {
        margin: 0 7.15% !important;
    }

    .price-box2 .price-box-item, .price-box2 .price-box-item {
        width: 46.90%;
        margin: 0 2.2% 40px;
    }

    .price-box2 li:nth-child(3) {
        margin: 0 26% !important;
    }
}

@media screen and (max-width: 663px) {
    .price .font-20 {
        font-size: 17px;
    }

    .price .font-25 {
        font-size: 19px;
    }
}

@media screen and (max-width: 611px) {
    .price-box2 li.price-box-item, .price-box2 li.price-box-item {
        width: 100%;
        margin: 0 0 40px !important;
    }
}

@media screen and (max-width: 559px) {
    .price-box .price-box-item {
        width: 31.5% !important;
    }
    .price-box li:nth-child(5), .price-box li:nth-child(7) {
        margin: 0 0.9% !important;
    }
    .price-box li:last-child {
        margin: 0 34% !important;
    }
    .price-h1 {
        line-height: 35px;
        font-size: 26px;
        margin-top: 75px;
        margin-bottom: 20px;
    }
    .price-h2 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 430px) {
    .price-box .price-box-item {
        width: 48% !important;
    }

    .price-box li:last-child {
        margin: 0 27% !important;
    }

    .price .font-20 {
        font-size: 12px;
    }

    .price .font-25 {
        font-size: 15px;
    }

    .price-box-middle {
        width: 100%;
        margin: 0 auto;
    }
}

/*====================================================================================================================*/
/*====================================================ABOUT US========================================================*/
/*====================================================================================================================*/
@media screen and (max-width: 1199px) {
    .map-item-right {
        padding-bottom: 25px;
    }

    .m-our-team {
        margin: 0;
        text-align: center;
    }

    .team-box {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .team-box-item {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .map-item-right {
        margin: 82px 0 0 12px;
        padding-left: 12px;
        border-left: 2px solid #f0f0f0;
    }
}

@media screen and (max-width: 767px) {
    .map-item-left {
        width: 32%;
    }

    .map-img img {
        width: 100%;
    }

    .map-item-right ul li {
        margin: 0 20px 15px 0;
    }

    .map-item-right ul li h2 {
        margin-bottom: 4px;
    }

    .map-item-right {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 699px) {
    .m-box-wrap {
        width: 100%;
        display: block;
    }

    .team-box-item {
        width: 25%;
        float: left;
    }

    .map-item-right {
        width: 50%;
        float: none;
        margin: 0 auto;
        padding: 20px 0 0 0;
        border-left: none;
        border-top: 2px solid #f0f0f0;
        border-left: none;
    }

    .map-item-left {
        width: 50%;
        float: none;
        margin: 0 auto;
    }

    .map-box {
        margin: 0 0 40px 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 635px) {
    .team-box-item {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .map-item-right {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 20px 0 0 0;
        border-left: none;
        border-top: 2px solid #f0f0f0;
        border-left: none;
    }

    .map-item-left {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .team-box-item {
        width: 100%;
    }
}

/*====================================================================================================================*/
/*====================================================PARALLAX========================================================*/
/*====================================================================================================================*/
@media screen and (max-width: 767px) {
    .section1 .l1,
    .section1 .l2,
    .section1 .l3 {
        position: absolute;
        top: 20px;
        left: 30%;
        width: 153%;
    }

    .section1 .l2 {
        top: 10px;
        left: 20%;
    }

    .section1 .l3 {
        top: 50px;
        left: 38%;
    }
}

@media screen and (max-width: 550px) {
    .section1 .l1,
    .section1 .l2,
    .section1 .l3 {
        width: 250%;
    }
}

@media screen and (max-width: 350px) {
    .section1 .l1,
    .section1 .l2,
    .section1 .l3 {
        width: 305%;
    }
}