@font-face {
    font-family: 'FuturaPTMedium';
    src: url('../fonts/FuturaPTMedium.eot');
    src: url('../fonts/FuturaPTMedium.eot') format('embedded-opentype'),
    url('../fonts/FuturaPTMedium.woff2') format('woff2'),
    url('../fonts/FuturaPTMedium.woff') format('woff'),
    url('../fonts/FuturaPTMedium.ttf') format('truetype'),
    url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
}

@font-face {
    font-family: 'FuturaPTBold';
    src: url('../fonts/FuturaPTBold.eot');
    src: url('../fonts/FuturaPTBold.eot') format('embedded-opentype'),
    url('../fonts/FuturaPTBold.woff2') format('woff2'),
    url('../fonts/FuturaPTBold.woff') format('woff'),
    url('../fonts/FuturaPTBold.ttf') format('truetype'),
    url('../fonts/FuturaPTBold.svg#FuturaPTBold') format('svg');
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url('../fonts/FuturaPTBook.eot');
    src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
    url('../fonts/FuturaPTBook.woff2') format('woff2'),
    url('../fonts/FuturaPTBook.woff') format('woff'),
    url('../fonts/FuturaPTBook.ttf') format('truetype'),
    url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
}

@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.eot');
    src: url('../fonts/FuturaPTHeavy.eot') format('embedded-opentype'),
    url('../fonts/FuturaPTHeavy.woff2') format('woff2'),
    url('../fonts/FuturaPTHeavy.woff') format('woff'),
    url('../fonts/FuturaPTHeavy.ttf') format('truetype'),
    url('../fonts/FuturaPTHeavy.svg#FuturaPTHeavy') format('svg');
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.marg-bot-18 {
    margin-bottom: 18px;
}

.marg-bot-27 {
    margin-bottom: 27px;
}

.marg-bot-75 {
    margin-bottom: 75px;
}

.marg-top-45 {
    margin-top: 45px;
}

.marg-top-68 {
    margin-top: 68px;
}

.pad-right-64 {
    padding-right: 64px;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.w100p {
    width: 100%;
}

.w280 {
    width: 280px;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.font1-m {
    font-family: 'FuturaPTMedium';
}

.font1-b {
    font-family: 'FuturaPTBold';
}

.font1-book {
    font-family: 'FuturaPTBook';
}

.font1-h {
    font-family: 'FuturaPTHeavy';
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.color1 {
    color: #f9cc84;
}

.color2 {
    color: #4e4e4e;
}

.color3 {
    color: #f15234;
}

.color4 {
    color: #d2d2d2;
}

.color5 {
    color: #c13430;
}

.color6 {
    color: #bfbfbf;
}

.color7 {
    color: #f8ceac;
}

.line-h {
    line-height: 26px;
}

.line-h-23 {
    line-height: 23px;
}

.letter-s {
    letter-spacing: 0.4px;
}

.letter-s-08 {
    letter-spacing: 0.8px;
}

/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
#sidr-menu {
    display: none;
}
body.open{
    overflow: hidden;
}
body.overflowed, html.overflowed {
    overflow: hidden !important;
}
/*=====================================================================================================================*/
/*=====================================================================================================================*/
/*=====================================================================================================================*/
.pop-up-wrap {
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: -1;
    -webkit-transition: all 0s ease-in;
    -moz-transition: all 0s ease-in;
    -ms-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
    transition: all 0s ease-in;
}

.pop-up-inside {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -211px 0 0 -400px;
}

.close-pop-up {
    color: white;
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg);
    display: inline-block;
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    right: -2px;
    top: 12px;
    z-index: 10;
}

.close-pop-up:hover {
    color: #f15234;
    text-decoration: none;
}

.active-pop-up {
    opacity: 1;
    z-index: 11111;
    background: rgba(0, 0, 0, .5);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.pop-up-content {
    background: white;
    padding: 21px 24px 22px 29px;
    margin-top: 23px;
}

.pop-up-inside {
    width: 800px;
}

.pop-up-textarea {
    width: 100%;
    height: 150px;
    resize: none;
    margin: 15px 0 29px;
    border: 1px solid #e7e7e7;
}

.pop-up-input-box {
    width: 383px;
}

.pop-up-input-box input {
    width: 265px;
    height: 33px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 35px;
    border: 1px solid #e7e7e7;
}

.pop-up-content .submit1 {
    width: 265px;
    float: right;
    margin-top: 34px;
}

.pop-up-content-item1 h2,
.pop-up-content-item2 h2,
.pop-up-content-item3 h2 {
    color: #bfbfbf;
}

.pop-up-content-item1:hover h2,
.pop-up-content-item2:hover h2,
.pop-up-content-item3:hover h2 {
    color: #f15234;
}

.pop-up-content-item1,
.pop-up-content-item2,
.pop-up-content-item3 {
    height: 210px;
    border-bottom: 2px solid #f4f4f4;
    border-left: 2px solid #f4f4f4;
    border-right: 2px solid #f4f4f4;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 28px;
}

.pop-up-content-item1 {
    width: 33%;
    border-left: none;
}

.pop-up-content-item2 {
    width: 37%;
    margin-left: -6px;
}

.pop-up-content-item3 {
    width: 30.5%;
    border-right: none;
    margin-left: -6px;
}

.pop-up-content-item2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

#pop-up-2 .pop-up-content {
    background: white;
    padding: 0 0 34px 0;
    margin-top: 23px;
}

.pop-up-img1 {
    width: 50px;
    height: 86px;
    background: url(../img/sprite.svg) -1509px -1293px no-repeat;
    display: block;
    margin: 35px auto 32px;
}

.pop-up-img2 {
    width: 73px;
    height: 86px;
    background: url(../img/sprite.svg) -1336px -1293px no-repeat;
    display: block;
    margin: 35px auto 32px;
}

.pop-up-img3 {
    width: 116px;
    height: 86px;
    background: url(../img/sprite.svg) -1097px -1293px no-repeat;
    display: block;
    margin: 35px auto 32px;
}

#pop-up-3 .pop-up-inside {
    width: 535px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -208px 0 0 -260px;
}

#pop-up-3 .pop-up-content {
    padding: 50px 25px 32px 25px;
}

#pop-up-3 .submit1 {
    width: 365px;
    margin: 47px auto 0;
    float: none;
}

.pop-up-input-box2 input {
    border: 1px solid #e6e6e6;
    height: 33px;
    width: 324px;
    margin-bottom: 14px;
}

.pop-up-input-box2 label {
    margin-bottom: -9px;
}

.pop-up-input-box3 {
    margin-top: 14px;
}

.pop-up-input-box3 input {
    border: 1px solid #e6e6e6;
    height: 33px;
    width: 60px;
    margin-left: 12px;
    text-align: center;
    margin-right: 11px;
}

.pop-up-input-box3 label {
    margin-top: 3px;
}

/*======================================================================================================================*/
/*======================================================================================================================*/
/*======================================================================================================================*/
.slide-checkbox {
    width: 51px;
    height: 20px;
    background: darkgrey;
    position: relative;
    border-radius: 50px;
    margin-left: 23px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slide-checkbox.active{
    background: #45d984;
}

.slide-checkbox label {
    margin: 0;
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 4px;
    background: #ffffff;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slide-checkbox input[type=checkbox] {
    visibility: hidden;
    display: block;
    height: 21px;
    width: 51px;
    margin: 0;
}

.slide-checkbox input[type=checkbox]:checked + label {
    left: 33px;
    background: #ffffff;
}

.m-slide-box{
    float: right;
}
/*====================================================================================================================*/
/*=======================================================HEADER=======================================================*/
/*====================================================================================================================*/
.header {
    background: #4e443c;
    padding-top: 31px;
    padding-bottom: 23px;
}

.logo {
    display: block;
    margin-left: 8px;
    margin-top: 8px;
}

.logo img {
    width: 96%;
}

.link1 {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.link1:hover {
    color: white;
    text-decoration: none;
}

.link2 {
    font-size: 14px;
    color: #f9cc84;
    text-decoration: none;
    border-bottom: 1px dashed #f9cc84;
}

.link2:hover {
    color: #f9cc84;
    text-decoration: none;
    border-bottom: 1px dashed transparent;
}

.link2:focus {
    color: #f9cc84;
}

.header-ul {
    padding-left: 28px;
    margin-top: -17px;
    width: 323px;
    overflow: hidden;
    float: left;
    position: relative;
    top: 8px;
}

.header-ul li{
    float: left;
    width: 135px;
    margin-bottom: 8px;
}

/*.header-ul li a:hover span:not(:hover) {*/
    /*opacity: 0.4;*/
/*}*/

.btn-1 {
    width: 168px;
    height: 40px;
    border: 2px solid #f9cc84;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 37px;
    color: #f9cc84;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    letter-spacing: -0.5px;
    float: left;
    margin-top: 5px;
    z-index: 2;
    position: relative;
}

.btn-1,
.btn-1::after {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.btn-1:before,
.btn-1:after {
    background: #f9cc84;
    content: '';
    position: absolute;
    z-index: -1;
}

.btn-1:hover {
    color: #ffffff;
}

.btn-1::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.btn-1:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.header-contacts {
    position: relative;
}

.phone1 {
    position: relative;
    color: #f9cc84;
    display: block;
}

.phone1:hover{
    color: #f9cc84;
}

.phone2 {
    position: relative;
    color: #f9cc84;
    display: block;
}

.phone2:hover{
    color: #f9cc84;
}

.header-viber {
    position: relative;
    top: -10px;
    right: -3px;
    width: 34px;
    height: 16px;
    display: inline-block;
}

.header-viber img, .header-whatsapp img {
    width: 100%;
}

.header-whatsapp {
    position: relative;
    top: -11px;
    right: -17px;
    width: 50px;
    height: 16px;
    display: inline-block;
}

.call-me-box {
    padding-left: 3px;
}

.call-me {
    position: relative;
    top: -4px;
    left: 5px;
    letter-spacing: 0.5px;
}

/*====================================================================================================================*/
/*======================================================section1======================================================*/
/*====================================================================================================================*/
.section1 {
    height: auto;
    background: #fef5e6;
    overflow: hidden;
    position: relative;
    padding-top: 36px;
    padding-bottom: 40px;
}

.section1 img {
    position: absolute;
    top: 200px;
    width: 100%;
}

.section1-header {
    width: 720px;
    margin: 0 auto;
}

.section1-pic1 {
    width: 34px;
    height: 43px;
    background: url(../img/sprite.svg) no-repeat -1217px -1541px;
    display: inline-block;
    margin-right: 10px;
}

.section1-pic2 {
    width: 48px;
    height: 37px;
    background: url(../img/sprite.svg) no-repeat -1113px -1538px;
    display: inline-block;
    margin-right: 12px;
}

.section1-h1 {
    letter-spacing: 0;
    margin-left: 36px;
    line-height: 57px;
    margin-bottom: 8px;
}

.loan .btn-box {
    margin-bottom: 75px;
}

.btn-box {
    position: relative;
    height: 83px;
}

.btn-box a {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn-2 {
    width: 208px;
    height: 51px;
    border-bottom: 3px solid #c13430;
    background: #f15234;
    display: block;
    text-decoration: none;
    text-align: right;
    line-height: 48px;
    color: white;
    font-size: 18px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    position: relative;
    margin-top: 27px;
    padding-right: 24px;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.btn-2:before {
    content: attr(data-text);
    color: white;
    position: absolute;
    top: -51px;
    left: 0;
    right: 0;
    padding-right: 24px;
    text-align: right;
}

.btn-2:hover {
    color: white;
    line-height: 148px;
    background: #d23d39;
}

.btn-2:active {
    background: #d23d39;
    color: white;
}

.btn-2:focus {
    color: white;
}

.btn-play {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
}

.btn-play:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 37px;
    margin: -19px 0 0 -6px;
    background: url(../img/play.svg) center no-repeat;
}

.section1-calculator {
    background: white;
    padding: 3px 20px 15px;
    width: 992px;
    margin: 36px auto 0;
}

.hr1 {
    margin-top: 29px;
    margin-bottom: 33px;
}

.selectpicker option {
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
}

.selectpicker {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 139px;
    margin-left: 3px;
}

.btn-group > .btn:first-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 6px 8px;
}

.bootstrap-select.btn-group .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    top: 33px;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 11px;
    margin-top: -7px;
}

.bootstrap-select.open .caret {
    margin-top: -2px;
    -webkit-transform: rotate(137deg);
    -moz-transform: rotate(137deg);
    -ms-transform: rotate(137deg);
    -o-transform: rotate(137deg);
    transform: rotate(137deg);
}

select:focus {
    outline: none;
}

.section1-select1 {
    margin-right: 124px;
}

.section1-select2 {
    margin-right: 127px;
}

.section1 .ui-corner-all {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background: #d7d7d7;
    height: 4px;
    margin-bottom: 35px;
}

.section1 .ui-state-default {
    width: 31px !important;
    height: 31px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    border-radius: 16px !important;
    background: url(../img/calculator-line.png) no-repeat center, #f15234 !important;
    border: none !important;
    top: -14px !important;
    cursor: pointer !important;
    outline: none !important;
}

.section1 .ui-state-hover {
    background: url(../img/calculator-line.png) no-repeat center, #C52F21 !important;
}

.calc-textarea {
    width: 100%;
    height: 151px;
    resize: none;
    border: 1px solid #d7d7d7;
}

.calc{
    width: 99%;
}

.submit1 {
    background: #f15234;
    color: white;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #c13430;
    overflow: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    height: 57px;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 33px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #c13430;
    text-decoration: none;
    line-height: 51px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.submit1:before {
    content: attr(data-text);
    color: white;
    position: absolute;
    top: -51px;
    text-align: center;
    left: 0;
    right: 0;
}

.submit1:hover {
    color: white;
    line-height: 158px;
    background: #d23d39;
}

.form1 .calc-price {
    padding-left: 29px;
    padding-top: 39px;
    padding-right: 5px;
}

.form2 .calc-price {
    padding-top: 3px;
}

.ui-slider-pip-last, .ui-slider-pip-first {
    display: none;
}

.form2{
    display: none;
}
/*====================================================================================================================*/
/*======================================================section2======================================================*/
/*====================================================================================================================*/
.section2 {
    padding: 59px 0 103px;
}

.section2-bg {
    background: url(../img/dots.png) 0 0 no-repeat;
    width: 1142px;
    height: 279px;
    position: absolute;
    top: 164px;
    left: 14px;
}

.section2-item1, .section2-item2, .section2-item3 {
    width: 33.1%;
    display: inline-block;
    text-align: center;
}

.section2-item1 {
    padding-right: 115px;
}

.section2-item3 {
    padding-left: 96px;
}

.section2-pic1 {
    background: url(../img/sprite.svg) -902px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.section2-pic2 {
    background: url(../img/sprite.svg) -1122px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.section2-pic3 {
    background: url(../img/sprite.svg) -1341px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.index-title {
    text-align: center;
    color: #4c4c4c;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'FuturaPTBold';
    margin-bottom: 60px;
}

.how-it-work-item {
    opacity: 0.4;
    position: relative;
    z-index: 1;
}

.section2-pic1, .how-it-work-item span,
.section2-pic2, .how-it-work-item span,
.section2-pic3, .how-it-work-item span,
.section2-pic4, .how-it-work-item span {
    cursor: pointer;
}

.how-it-work-item.active {
    opacity: 1;
}

/*====================================================================================================================*/
/*======================================================section3======================================================*/
/*====================================================================================================================*/
.section3 {
    padding: 12px 0 77px;
}

.section3-num {
    font-size: 180px;
    color: #f8ceac;
    font-family: 'FuturaPTBold';
    height: 128px;
    line-height: 113px;
    float: left;
}

.section3-pic1,
.section3-pic2,
.section3-pic3,
.section3-pic4 {
    position: relative;
    margin-left: 74px;
}

.section3-pic1:after,
.section3-pic2:after,
.section3-pic3:after,
.section3-pic4:after {
    content: '';
    position: absolute;
    top: -34px;
    width: 63px;
    height: 63px;
    background: url(../img/section3-pic1.svg) 0 0 no-repeat;
    display: block;
}

.section3-pic2:after {
    background: url(../img/section3-pic2.svg) 0 0 no-repeat;
}

.section3-pic3:after {
    background: url(../img/section3-pic3.svg) 0 0 no-repeat;
}

.section3-pic4:after {
    background: url(../img/section3-pic4.svg) 0 0 no-repeat;
}

.section3-content {
    padding-left: 145px;
    display: none;
}

.section3-content.active {
    display: block;
}

/*====================================================================================================================*/
/*======================================================section4======================================================*/
/*====================================================================================================================*/
.section4 {
    padding-top: 2px;
    overflow: hidden;
    height: 335px;
}

.section4-bg {
    background: url(../img/hands.png) 0 0 no-repeat;
    width: 871px;
    height: 407px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: #4c4c4c;
    padding: 32px 275px 0;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.section4-bg .submit1 {
    letter-spacing: -1px;
}

/*====================================================================================================================*/
/*======================================================section5======================================================*/
/*====================================================================================================================*/
.section5 {
    position: relative;
    height: 608px;
    width: 100%;
}

.video-player-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/video-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.video-player {
    position: relative;
    height: 608px;
    width: 100%;
    overflow: hidden;
}

.video-player #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 608px;
    border: none;
    z-index: 0;
}

.start-video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 6;
    border: none;
    background: #ffffff;
}

.start-video-text {
    position: absolute;
    font-weight: bold;
    top: 20px;
    left: -240px;
    margin: 0 auto;
    color: white;
    width: 500px;
    font-size: 30px;
}

.start-video-play {
    display: block;
    width: 110%;
    height: 42%;
    background: url(../img/play.svg) center no-repeat;
    position: relative;
    top: 1px;
}

.start-video:hover .start-video-play {
    -webkit-animation: 0.5s slide-icon cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    animation: 0.5s slide-icon cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
}

.start-video:before {
    content: "";
    position: absolute;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    opacity: 0.8;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.4s ease, transform 0.5s ease;
}

.start-video:hover:before {
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

/*====================================================================================================================*/
/*======================================================section6======================================================*/
/*====================================================================================================================*/
.section6 {
    padding-top: 61px;
}

.section6 .index-title {
    margin-bottom: 49px;
}

.section6-num {
    font-size: 95px;
    color: #f8ceac;
    font-family: 'FuturaPTBold';
    display: inline-block;
}

.section6-item1, .section6-item2, .section6-item3 {
    width: 33.3%;
    display: inline-block;
    float: left;
}

.section6-item1 .section6-num {
    width: 49px;
}

.section6-item2 .section6-num {
    width: 72px;
}

.section6-item3 .section6-num {
    width: 70px;
}

.section6-box1, .section6-box2 {
    width: 49%;
    float: left;
    background: #f6f6f6;
    position: relative;
    padding: 10px 23px 0;
    margin-top: 46px;
    min-height: 235px;
}

.section6-box1 {
    margin-right: 2%;
}

.box-corner {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0 0 23px;
    border-color: transparent transparent transparent #dbdbdb;
}

.box-corner:after {
    content: "";
    position: absolute;
    right: 0;
    top: -23px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 23px 23px 0;
    border-color: transparent #ffffff transparent transparent;
}

.section6-pic1 {
    background: url(../img/sprite.svg) -528px -863px no-repeat;
    width: 144px;
    height: 183px;
    float: left;
    margin-right: 27px;
}

.section6-pic2 {
    background: url(../img/sprite.svg) -214px -881px no-repeat;
    width: 144px;
    height: 136px;
    float: left;
    margin-right: 22px;
    margin-top: 43px;
}

.section6-bg {
    width: 98%;
    height: 140px;
    border-style: solid;
    border-width: 8px;
    -moz-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    -webkit-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    -o-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    border-image: url(../img/border-dot.png) 9 8 8 9 fill round;
    margin: 60px auto 78px;
}

.section6-bg .submit1 {
    display: inline-block;
    width: 325px;
    margin-top: 35px;
}

.section6-bg-content {
    width: 757px;
    margin: 0 auto;
}

.section6-content1 {
    margin-top: 30px;
    margin-right: 21px;
    display: inline-block;
    vertical-align: middle;
}

.btn-3 {
    border: 2px solid #f15234;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #f15234;
    font-size: 14px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    letter-spacing: -0.5px;
    position: relative;
    margin: 28px 23px 0 2px;
    width: 225px;
    height: 48px;
    line-height: 48px;
}

.btn-3,
.btn-3::after {
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.btn-3:before,
.btn-3:after {
    background: #f15234;
    content: '';
    position: absolute;
    z-index: -1;
}

.btn-3:hover {
    color: #ffffff;
}

.btn-3::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.btn-3:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.accordion {
    width: 100%;
    margin: 51px auto 0;
    padding: 0 3px 0 23px;
}

.accordion .panel-body {
    border: 2px dashed #f15334;
    padding: 10px 20px 16px;
    color: #4c4c4c;
    font-size: 18px;
    margin: 0 0 22px 2px;
}

.accordion .panel-heading {
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin: 0 0 11px;
    height: 42px;
    line-height: 41px;
    outline: none;
    padding-left: 0 !important;
    position: relative !important;
    border: none;
    background: none;
    font-weight: normal;
    color: #4e4e4e;
}


.have-questions {
    margin-top: 60px;
    padding-left: 11px;
}


.glyphicon-chevron-up {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 8.5px 0 8.5px;
    border-color: #4e4e4e transparent transparent transparent;
    position: absolute;
    left: -25px;
    top: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: none;
}

.glyphicon-chevron-down {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: -25px;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 9px 8.5px;
    border-color: transparent transparent #f15334 transparent;
    background: none;
}


.glyphicon-chevron-down:before {
    content: "";
}
.glyphicon-chevron-up:before {
    content: "";
}
.panel-default {
    border: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: 2px dashed #f15334;
}
.panel{
    box-shadow: none;
    border: none;
    background: none;
}
/*====================================================================================================================*/
/*=======================================================footer=======================================================*/
/*====================================================================================================================*/
.footer {
    background: #4e443c;
    height: 120px;
    padding-top: 24px;
}

.footer .logo {
    display: block;
    margin-left: 0;
    margin-top: 5px;
}

.footer .logo img {
    width: 71%;
}

.footer-ul {

    margin-top: 25px;
    margin-left: 19px;
}

.footer-ul li {
    float: left;
    font-size: 15px;
}

.footer-ul li a {
    width: auto;
}

.footer-ul:hover li:not(:hover) a {
    opacity: 0.4;
}

.contact-links > li a .soc-vk {
    height: 14px;
    width: 34px;
    top: 11px;
    background: url(../img/vk.svg) no-repeat center;
}

.soc-fb {
    background: url(../img/fb.svg) no-repeat center;
}

.soc-tw {
    background: url(../img/tw.svg) no-repeat center;
}

.soc-ok {
    background: url(../img/ok.svg) no-repeat center;
}

.contact-links {
    padding-left: 55px;
    padding-top: 20px;
}

.contact-links > li {
    display: inline-block;
    padding: 0 9px;
}

.contact-links > li a {
    position: relative;
    text-decoration: none;
    display: block;
    background: #c13430;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.contact-links > li a:before {
    content: "";
    position: absolute;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    opacity: 0.8;
    border: 2px solid #c13430;
    border-radius: 50%;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.4s ease, transform 0.5s ease;
}

.contact-links > li a:hover:before {
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.contact-links > li a:hover span {
    -webkit-animation: 0.5s slide-icon cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    animation: 0.5s slide-icon cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
}

.contact-links > li a:focus {
    opacity: 0.85;
}

.contact-links > li a span {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 9px;
    display: block;
    height: 17px;
    width: 36px;
}

@-webkit-keyframes slide-icon {
    49% {
        background-position-x: -200px;
        opacity: 0;
    }
    50% {
        background-position-x: 200px;
    }
    90% {
        background-position-x: center;
        opacity: 1;
    }
}

@keyframes slide-icon {
    49% {
        background-position-x: -200px;
        opacity: 0;
    }
    50% {
        background-position-x: 200px;
    }
    90% {
        background-position-x: center;
        opacity: 1;
    }
}

.footer-box1{
    position: relative;
    top: -10px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<INDEX END>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*====================================================================================================================*/
/*======================================================LOAN==========================================================*/
/*====================================================================================================================*/
#file-upload {
    display: none;
}

.file-upload-btn {
    display: inline-block;
    background: #e6e6e6;
    cursor: pointer;
    float: right;
    height: 31px;
    padding: 0 21px;
    margin: 0;
    line-height: 31px;
    color: white;
}

#filename {
    padding: 0;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    height: 33px;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

.loan-input1 label, .loan-input2 label {
    margin-right: 33px;
}

.loan-input1 input, .loan-input2 input {
    width: 310px;
    height: 33px;
    border: 1px solid #e6e6e6;
    background: none;
}

.loan-input3 {
    margin-top: 31px;
}

.loan-input3 > label {
    margin-right: 6px;
}

.loan .hr1 {
    margin-bottom: 35px;
}

.loan .section1-calculator {
    padding: 3px 20px 20px;
}

.section2.loan {
    background: none;
}

.loan .section2-item1, .loan .section2-item2, .loan .section2-item3, .loan .section2-item4 {
    width: 24.6%;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
}

.loan .section2-item1 {
    padding-right: 16px;
}

.loan .section2-item2 {
    padding-left: 32px;
}

.loan .section2-item3 {
    padding-left: 99px;
}

.loan .section2-item4 {
    padding-left: 92px;
}

.loan .section2-pic1 {
    background: url(../img/sprite.svg) -902px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.loan .section2-pic2 {
    background: url(../img/sprite.svg) -1122px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.loan .section2-pic3 {
    background: url(../img/sprite.svg) -1341px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.loan .section2-pic4 {
    background: url(../img/sprite.svg) -1559px -902px no-repeat;
    width: 135px;
    height: 117px;
    display: block;
    margin: 0 auto 15px;
}

.section3.loan {
    background: none;
}

.loan-dots {
    position: absolute;
    left: 11px;
    top: 163px;
    width: 1142px;
    height: 279px;
    background: url(../img/loan-dots.png) no-repeat 0 0;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<LOAN END>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*====================================================================================================================*/
/*=====================================================PRICE==========================================================*/
/*====================================================================================================================*/
.price-box {
    padding-top: 62px;
    overflow: hidden;
}

.price-box li:first-child,
.price-box2 li:first-child,
.price-box3 li:first-child {
    margin-left: 0;
}

.price-box li:last-child,
.price-box2 li:last-child,
.price-box3 li:last-child {
    margin-right: 0;
}

.price-box-item {
    border: 3px solid #ffe18f;
    background: #ffe18f;
    position: relative;
    width: 12.65%;
    float: left;
    margin: 0 0.9%;
}

.price-box-item:after {
    content: attr(data-price);
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    text-align: center;
    color: #4c4c4c;
    font-size: 18px;
    font-family: 'FuturaPTMedium';
}

.price-box-item h2 {
    background: white;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
}

.price-box-item div {
    height: 41px;
    line-height: 39px;
    text-align: center;
}

.price-h1 {
    margin-top: 58px;
    margin-bottom: 45px;
    line-height: 58px;
}

.price-h2 {
    line-height: 23px;
    margin-bottom: 99px;
}

.price-box2,
.price-box2 {
    padding-top: 64px;
    overflow: hidden;
    margin-bottom: 76px;
}

.price-box2 .price-box-item,
.price-box2 .price-box-item {
    width: 30.36%;
    margin: 0 2.2%;
}

.price-box-middle {
    width: 310px;
    margin: 0 auto;
}

.price-box3,
.price-box3 {
    padding-top: 66px;
    overflow: hidden;
    margin-bottom: 31px;
}

.price-box3 .price-box-item,
.price-box3 .price-box-item {
    width: 46.52%;
    margin: 0 3.3%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<PRICE END>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*====================================================================================================================*/
/*===================================================QUESTIONS========================================================*/
/*====================================================================================================================*/
.corner-box {
    width: 100%;
    background: #f6f6f6;
    position: relative;
    padding: 10px 20px 51px 22px;
}

.questions-bg-wrap {
    height: 472px;
    overflow: hidden;
    margin-bottom: 51px;
    position: relative;
    background: #fef5e6;
}

.questions-bg-wrap #parallax div img {
    position: absolute;
    width: 100%;
}

.questions-bg-wrap #scene li {
    padding-top: 50px;
}

.questions #accordion,
.questions #accordion2 {
    width: 100%;
    margin: 8px auto 0;
    padding: 0 3px 0 30px;
}

.questions #accordion2 {
    margin: 75px auto 0;
}

.corner-box-wrap {
    padding: 0 93px 0 75px;
    margin-top: 90px;
}

#accordion2 .panel-heading {
    margin: 0 0 -3px;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.m-header-menu-on {
    display: none;
}

.pop-up-form {
    overflow: hidden;
}

.not-active{
    color: darkgrey;
    pointer-events: none;
}

/*====================================================================================================================*/
/*==================================================ABOUT US==========================================================*/
/*====================================================================================================================*/
.team-box {
    padding-top: 27px;
    overflow: hidden;
    margin-top: 23px;
    text-align: center;
    width: 86%;
    float: right;
    height: auto;
    border-style: solid;
    border-width: 9px 8px 8px 9px;
    -moz-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    -webkit-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    -o-border-image: url(../img/border-dot.png) 9 8 8 9 round;
    border-image: url(../img/border-dot.png) 9 8 8 9 fill round;
}

.team-box-item {
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 34px;
}

.team-box-item h2 {
    margin: 9px 0 8px;
}

.map-box {
    margin-top: 4px;
    padding-left: 11px;
}

.map-item {
    margin-top: 15px;
    overflow: hidden;
}

.map-item-left, .map-item-right {
    float: left;
}

.map-item-right {
    margin: 82px 0 0 70px;
    padding-left: 50px;
    border-left: 2px solid #f0f0f0;
}

.map-item-right ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 61px 29px 0;
}

.map-item-right ul li:last-child {
    display: block;
    margin: 0;
}

.map-item-right ul li h2 {
    margin-top: 0;
    margin-bottom: 18px;
}

.about-us {
    padding-top: 53px;
}

.map-img {
    margin: 40px 0 32px 0;
}
/*====================================================================================================================*/
/*==================================================PARALLAX==========================================================*/
/*====================================================================================================================*/
#parallax{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/*====================================================================================================================*/
/*====================================================SELECT==========================================================*/
/*====================================================================================================================*/
.select-menu{
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 140px;
    padding: 0;
}
.select-menu:hover{
    background: #e6e6e6;
}
.select-menu:active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.select-menu h2{
    margin: 0;
    padding: 6px 8px;
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
    z-index: 1;
    position: relative;
}
.select-menu ul{
    min-width: 140px;
    padding: 0;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    list-style: none;
    display: none;
    position: absolute;
    left: -1px;
    top: 29px;
    background: white;
    z-index: 11;
}
.select-menu ul li{
    padding: 3px 20px;
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 16px;
    color: #4e4e4e;
}
.select-menu ul li:hover{
    background: #f5f5f5;
}

.select-menu .caret {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 10px;
    top: 10px;
    display: block;
    position: absolute;
}

.select-menu.open .caret {
    top: 13px;
    -webkit-transform: rotate(137deg);
    -moz-transform: rotate(137deg);
    -ms-transform: rotate(137deg);
    -o-transform: rotate(137deg);
    transform: rotate(137deg);
}

