@-moz-document url-prefix(){
    .slide-checkbox {
        margin-left: 20px;
    }
    .pop-up-content-item3 {
        width: 30.4%;
    }

    @media screen and (max-width:600px) {
        .pop-up-content-item3 {
            width: 100%;
        }
    }

}